@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    margin: 1.5em 3em;
}
.navbar{
    margin-left: 8em;
    margin-right: 8em;
}
a{
    font-size: .8rem;
    margin: 0 .5em;
}
.get{
    background-color: #3952B6;
    color: white;
    border: 1px solid #3952B6;
    border-radius: 15px;
    padding: .4em 1.4em;
}
.estad{
    display: flex;
    /* background-color: red; */
    /* justify-content: space-evenly;
    margin-left: -3em; */
}
.estadmedio{
    margin: 0 2em;
}

.seccionuno{
    /* width: 100vw;*/
    height: 100vh; 
    display: flex;
    margin: 4em 3.5em;
    justify-content: space-between;
}
.buscador{
    background-color: rgb(238, 238, 238);
    width: 26em;
    padding: .4em 1.2em;
    padding-right: .3em;
    border-radius: 25px;
    margin-bottom: 2.5em;
}
input{
    outline: none;
    border: none;
    background-color: rgb(238, 238, 238);
    width: 22em;
}

.search{
    /* margin-left: 8.2em; */
    padding: .8em 2.3em;
    background-color: #3952B6;
    color: white;
    border-radius: 20px;
    border: none;
}
.titulouno{
    font-size: 3rem;
}
.textouno{
    color: gray;
    margin-top: 1.5em;
    margin-bottom: 2em;
}

/* finaliza section 1 */

.secciondos{
    /* background-color: red; */
    width: 90vw;
    height: 100vh;
    margin: -8em 3.5em;
}
.tituloysub{
    display: flex;
    margin-bottom: 4em;
    /* background-color: red; */
}
.casas{
    /* background-color: red; */
    width: 88vw;
    display: flex;

}
.imgcasauno{
    border-radius: 10px;
    height: 170px;
    width: 210px;
    /* background-image: url(house2.jpg); */
    background-size: 210px 170px;
    background-color: red;
    
}
.preciouno{
    width: 4em;
    border: 1px solid black;
    border-radius: 15px;
    background-color: black;
    color: white;
    padding: .5em 1em;
    /* margin-top: 1em; */
    background-color: blue;
}
.casauno{
    flex-grow: 1;
}
.casados{
    flex-grow: 1;
}
.casatres{
    flex-grow: 1;
}
.casacuatro{
    flex-grow: 1;
}
.ubiuno{
    display: flex;
}
.ubidos{
    display: flex;
}
.ubitres{
    display: flex;
}
.ubicuatro{
    display: flex;
}
.textybotondos{
    margin-top: 5em;
    display: flex;
    align-items: center;
}

.textder{
    color: gray;
    margin-left: 13em;
}
.titulodos{
    font-size: 2.2rem;
    color: #2D2D2D;
}
p{
    font-size: .8rem;
    color: gray;
}
.botonsee{
    margin-left: 12em;
    padding: .6em 2em;
    border-radius: 20px;
    border: 1px solid gray;
    background-color: white;
}

/* fin de la segunda section */

.secciontres{

    background-color: #FAFAFA;
    display: flex;
    padding: 4em 1em;
    justify-content: space-evenly;
    height: 80vh;
    line-height: 1.5rem;
}
.titulov{
    font-size: 2rem;
    margin-bottom: .8em;
}
.titulom{
    font-size: 2rem;
    margin: .8em 0;
}
.casatresizq{
    margin-top: 1em;
    border-radius: 15px;
    width: 375px;
    height: 250px;
}
.casatresder{
    border-radius: 15px;
    width: 375px;
    height: 250px;
}

/* fin de la tercer section */

.seccioncuatro{
    height: 100vh;
    margin: 0 3.5em;
}
.tituloScuatro{
    font-size: 2rem;
}
.divuno{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.divdos{
    display: flex;
    margin: 4em 0;
    justify-content: space-between;
    line-height: 1.5rem;
}
.titulounodivdos{
    margin: .7em 0;
}
.titulodosdivdos{
    margin: .7em 0;
}
.titulotresdivdos{
    margin: .7em 0;
}
.titulocuatrodivdos{
    margin: .7em 0;
}

h3{
    width: 15px;
    /* height: 5px; */
    border: 1px solid #22242F;
    border-radius: 50%;
    padding: .5em .7em;
    background-color: #22242F;
    color: white;
}
.divtres{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.botonfaq{
    border: 1px solid gray;
    border-radius: 2em;
    padding: .7em 2.2em;
    background-color: white;
}

/* fin de la cuarta section */

.seccioncinco{
    display: flex;
    justify-content: space-between;
    margin: 0 3.5em;
}
.imgcasaS5{
    width: 40vw;
    height: 85vh;
    border-radius: 1em;
}
.tituloScinco{
    font-size: 2rem;
}
.textScinco{
    margin: 1.5em 0;
    line-height: 1.5rem;
}
.checkuno{
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    padding: 1em 0.5em;

}
.checkdos{
    display: flex;
    justify-content: space-between;
    padding: 1em 0.5em;

}
.checktres{
    display: flex;
    justify-content: space-between;
    padding: 1em 0.5em;
}
p{
    line-height: 1.5rem;
}
.imgcheckuno{
    padding-right:0.6em;
}
.imgcheckdos{
    padding-right:0.6em;
}
.imgchecktres{
    padding-right:0.6em;
}

/* fin de la quinta section */

.seccionseis{
    margin: 6em 3.5em;
}
.tituloSseis{
    font-size: 2rem;
}
.tituloysubseis{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4em;
}
.reseñas{
    display: flex;
    justify-content: space-between;
}
.reseñauno{
    border: 1px solid gray;
    padding: .6em .8em;
    border-radius: 10px;
}

/* fin de la sexta section */

